/* FINALLY */
.rr-hero {
  display: flex;
}
.IconHero{
  width:24px;
  padding-left: 12px;
}
.rr-pic{
  display: flex;
}

.rr-hero-text {
  margin-top: 100px;
    flex: 1;
    font-family: var(--rr-font-main);
  }
.rr-action{
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.rr-H1{
  display: flex;
  gap: 7px  !important;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: clamp(38px,2.8vw,48px);
  max-width: 652px;

}

.rr-label { 
  font-size: 12px;
  width: 250px;
  color:var(--rr-Grey-60);
  font-family: var(--rr-font-main);
  

  
  }

.rr-actions {
    display: flex;
    font-family: var(--rr-font-main);
    gap: 12px; 
    /* margin: 50px 0;  */
  }

.rr-stats {
  display: grid;

  font-family: var(--rr-font-main);
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
  padding: 12px;
  background-color: var(--rr-White-97);
  width:52vw;
  margin-top: 14vh;
}

.rr-card {
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  font-weight: bold;
  
}
.rr-card span {
  display: block;
  font-size: 12px;
  color: var(--rr-Grey-40);
  font-family: var(--rr-font-main);
}
.rr-hero-image{
  flex:1 1 544px;
  border-radius: 16px;
  padding:20px 0px;
  min-height: auto;
  

}
.rr-hero-image img {
    display: flex;
    /* max-width: 30vw; */
    max-width: 36vw;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-top: 66px ;
    display: block;
    margin-left: 14px;
    border-radius: 18px; 
  
}

.rr-p{
  color:var(--rr-Grey-40);
  font-family: var(--rr-font-main);
  size:10px;
  
}
.rr-phero{
  margin-bottom: 50PX;
  size: 18PX;
}
@media (max-width: 992px) {
 
  .rr-hero-text{
    margin-top: 40px;
  }

   
  .rr-hero {
   
    display: block;
    flex-wrap: wrap;
    justify-items: center;
   
      }
  .rr-actions 
  { 
    display:flex;
    gap: 10px;
    
  }
  .rr-H1SPAN{
    display:flex;
    flex-direction: column;
    max-width: 620px;
    
}
.rr-H1{
  order:2;
  max-width: 67%;
 
}
.rr-H1 h1{
  max-width: 620px;
}
.rr-SPAN{
  order:1;
  margin-left: 0px;
}

Button{
  display: flex;
 
}

.rr-action button{

  padding: 22px 46px;



  gap:8px;
}
 .rr-H1{
  order:2;
  }
  .rr-SPAN{
    order:1;
  }
  .rr-H1{
    max-width: 90%;
    margin-right: 16px;
    font-size: 20px;
  }
  
  .rr-hero-text{
    max-width:95% ;
  }
  .rr-hero-image {
    width: 100%;
    display: flex; 
    justify-content: center; 
    margin: auto;

}

.rr-hero-image img{
  max-width: 100vw;  
  object-fit: cover; 
  display: block;
  margin-left: 14px;
}

 .rr-stats{
    width: 100%;
    margin-bottom: 40px;
    height: inherit;
    padding: 20px;
    
     
  }
  .rr-card{
    padding: 22px !important;
    
  gap: 20px;}

  
  
    
  }
}
@media (max-width: 1440px) {
 
  .rr-hero-text{
    margin-top: 80px;
  }
  .rr-pic{
    justify-content: end;
  }
  .rr-hero-image img{
    margin-left: 0px;
   
  }
  /* .rr-stats{gap: 8px;} */
  .rr-card{padding: 18px !important;}
  .rr-stats{
    padding: 20px;
    gap: 10PX;
    
  }

}
@media  (max-width:1920){
  .rr-hero-image img{
    max-width:24vw;
    margin-top: 56px;
    margin-left: 0px;
   
  }
  .rr-pic{
    display: flex;
    justify-content: flex-end;
  }

}