/* FINALLY */
.rr-hero {
  display: flex;
  
  
  /*margin-left: var(--rr-margin-left);
  margin-right: var(--rr-margin-right);*/
}
.IconHero{
  width:24px;
  padding-left: 12px;
  
 
}

.rr-marginLeftRight{

    margin:0px 80px 0px 80px;}

.rr-hero-text {
  margin-top: 100px;
    flex: 1;
    font-family: var(--rr-font-main);
  }
.rr-action{
  display: flex;
  justify-content: center;
  align-items: center;

}

.rr-H1{
  display: flex;
  gap: 7px  !important;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: clamp(38px,2.8vw,48px);
  max-width: 652px;

}

.rr-label { 
  font-size: 12px;
  width: 250px;
  color:var(--rr-Grey-60);
  font-family: var(--rr-font-main);
  

  
  }

.rr-actions {
    display: flex;
    font-family: var(--rr-font-main);
    gap: 12px; 
    margin: 20px 0; 
  }

.rr-stats {
  display: grid;

  font-family: var(--rr-font-main);
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  background-color: var(--rr-White-97);
  width:52vw;
  height: 346px;
  margin-top: 80px;
  
}

.rr-card {
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  font-weight: bold;
  
}
.rr-card span {
  display: block;
  font-size: 12px;
  color: var(--rr-Grey-40);
  font-family: var(--rr-font-main);
}
.rr-hero-image{
  flex:1 1 544px;
  border-radius: 16px;
  padding:20px 16px;
  min-height: auto;
  width: 10vw;

}
.rr-hero-image img {
display: flex;
max-width: 35vw;
height: auto;
object-fit: contain;
object-position: center;
margin: 0px ;
display: block;

   border-radius: 18px; 
  
}

.rr-p{
  color:var(--rr-Grey-40);
  font-family: var(--rr-font-main);
  size:10px;
  
}

@media (max-width: 992px) {
 
  .rr-hero-text{
    margin-top: 40px;
  }
   .rr-marginLeftRight{
    margin-left: 16px;
    margin-right: 16px;
   }
   
  .rr-hero {
   
    display: block;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0px !important;
    margin-left: 17px;
    margin-right: 17px;
      }
  .rr-actions 
  { 
    display:flex;
    gap: 10px;
    
  }
  .rr-H1SPAN{
    display:flex;
    flex-direction: column;
    max-width: 620px;
    
}
.rr-H1{
  order:2;
  max-width: 67%;
 
}
.rr-H1 h1{
  max-width: 620px;
}
.rr-SPAN{
  order:1;
  margin-left: 0px;
}

Button{
  display: flex;
 
}

.rr-action button{
  /* new3 */
  /* padding: 10px; */
  padding: 22px 46px;
  /* new3 */


  gap:8px;
}
 .rr-H1{
  order:2;
  }
  .rr-SPAN{
    order:1;
  }
  .rr-H1{
    max-width: 90%;
    margin-right: 16px;
    font-size: 20px;
  }
  
  .rr-hero-text{
    max-width:95% ;
  }
  .rr-hero-image {
    width: 100%;
    display: flex; 
    justify-content: center; 
    margin: auto;

}

.rr-hero-image img{
  width:100%; 
  max-width: 100vw;  
object-fit: cover; 
display: block;
}

 .rr-stats{
    width: 100%;
  }
}
@media (max-width: 1440px) {
 
  .rr-hero-text{
    margin-top: 80px;
  }
}