.rr-hero {
  display: flex;


  /*margin-left: var(--rr-margin-left);
  margin-right: var(--rr-margin-right);*/
}

.marginLeftRight {

  margin: 100px 80px 200px 80px;
}

.rr-hero-text {
  flex: 1;
  font-family: var(--rr-font-main);
}

.rr-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rr-H1 {
  display: flex;
  gap: 7px !important;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: clamp(38px, 2.8vw, 48px);
  max-width: 652px;


}

.rr-label {
  font-size: 12px;
  width: 250px;
  color: var(--rr-Grey-60);
  font-family: var(--rr-font-main);




}

.rr-actions {
  display: flex;
  font-family: var(--rr-font-main);
  gap: 12px;
  margin: 20px 0;
}

.rr-stats {
  display: grid;
  font-family: var(--rr-font-main);
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  background-color: var(--rr-White-97);
  width: 52vw;
  margin-top: 80px;

}

.rr-card {
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  font-weight: bold;

}

.rr-card span {
  display: block;
  font-size: 12px;
  color: var(--rr-Grey-40);
  font-family: var(--rr-font-main);
}

.rr-hero-image {
  flex: 1 1 544px;
  border-radius: 16px;
  padding: 20px 16px;
  min-height: auto;

}

.rr-hero-image img {
  /*display: flex;
max-width: 40vw;*/
  width: 100%;
  aspect-ratio: 0.8985 / 1;
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  height: 100%;
  display: block;

  border-radius: 18px;

}

p {
  color: var(--rr-Grey-40);
  font-family: var(--rr-font-main);
  size: 16px;

}


@media (max-width: 900px) {

  .rr-hero {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .rr-actions {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 10px;

  }

  .rr-H1SPAN {
    display: flex;
    flex-direction: column;

  }

  .rr-H1 {
    order: 2;
  }

  .rr-SPAN {
    order: 1;
    margin-left: 0px;
  }

  .Button {
    display: flex;

    /* max-height: 49px !important; */
  }

  .rr-actions {
    gap: 8px;
  }

  .rr-H1 {
    order: 2;
  }

  .rr-SPAN {
    order: 1;
  }

  .rr-H1 {
    max-width: 100vw;
    margin-right: 7px;
    font-size: 28px;
  }


}

@media (max-width: 1279px) {}