.rr-h4{
  margin-bottom: 4px;
}
.rr-options{
  display: flex;
  gap:16px;
}
.rr-shipping{
  margin: 16px 0px ;
}
.rr-p-new{
  margin-bottom: 10px;
  color:var(--rr-Grey-40);
  margin-left: 16px;

}
.rr-sizes{
  display: flex;
}
.rr-product {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}
.rr-gallery {
  flex: 1;
}
.rr-main {
  width: 100%;
  border-radius: 24px;
}
.rr-thumbs {
  display: flex;
  gap: 2px;
  margin-top: 12px;
}
.rr-thumbs img {
  width: 70px;
  border-radius: 12px;
}
.rr-right {
  flex: 1;
}
.rr-tag {
  color: gray;
  font-size: 14px;
}
.rr-price {
  font-size: 28px;
  font-weight: bold;
}
.rr-buttons {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}
.rr-action1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.rr-buy {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
}
.rr-p{
  margin-bottom: 16px;
}
.rr-cart {
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 30px;
}
.rr-colors {
  display: flex;
  gap: 10px;
}
.rr-c {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.rr-black { background: black; }
.rr-brown { background: #b58b5a; }
.rr-beige { background: #f2e2b8; }

@media (max-width: 390px) {
  .rr-product {
    flex-direction: column;
    padding: 20px;
  }
}
