.fs-containerr {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.fs-faq-header {
    margin-bottom: 40px;
}

.fs-faq-title-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.fs-faq-small {
    font-size: 18px;
    color: var(--rr-Grey-60);
    display: block;
}

.fs-faq-title {
    font-size: 48px;
    margin: 8px 0;
}

.fs-faq-header p {
    font-size: 18px;
    max-width: 1246px;
    color: var(--rr-Grey-40);
    text-align: left;
}

.fs-faq-tabs {
    display: flex;
    gap: 40px;
    margin: 80px 0;
    border-bottom: 1px solid var(--rr-White-95);
    border-top: 1px solid var(--rr-White-95);
    padding: 30px 0;
}

.fs-faq-tabs button {
    font-size: 16px;
    background: none;
    border: none;
    padding-bottom: 10px;
    cursor: pointer;
    color: var(--rr-Grey-60);
}

.fs-faq-tabs .active {
    color: var(--rr-Grey-10);
    font-size: 14px;
}

.fs-faq-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.fs-faq-item {
    border: 1px solid var(--rr-White-95);
    border-radius: 12px;
    padding: 24px;
}

.fs-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.fs-faq-question h4 {
    font-size: 20px;
    text-align: left;

}

.fs-faq-question img {
    width: 14px;
}

.fs-faq-answer {
    margin-top: 20px;
    font-size: 18px;
    color: var(--rr-Grey-30);
    text-align: left;
}

.fs-faq-viewall {
    display: none;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .fs-faq-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .fs-faq-title-row {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;
    }

    .fs-faq-small {
        font-size: 14px;
        color: var(--rr-Grey-60);
        display: block;
    }

    .fs-faq-title {
        font-size: 38px;
        margin: 8px 0;
    }

    .fs-faq-header p {
        font-size: 16px;
        max-width: 1126px;
        color: var(--rr-Grey-40);
        text-align: left;
        margin-top: 20px;
    }

    .fs-faq-tabs {
        display: flex;
        gap: 32px;
        margin: 60px 0;
        border-bottom: 1px solid var(--rr-White-95);
        border-top: 1px solid var(--rr-White-95);
        padding: 30px 0;
    }

    .fs-faq-tabs button {
        font-size: 16px;
        background: none;
        border: none;
        padding-bottom: 10px;
        cursor: pointer;
        color: var(--rr-Grey-60);
    }

    .fs-faq-tabs .active {
        color: var(--rr-Grey-10);
        font-size: 16px;
    }

    .fs-faq-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .fs-faq-item {
        border: 1px solid var(--rr-White-95);
        border-radius: 12px;
        padding: 24px;
    }

    .fs-faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 20px;
    }

    .fs-faq-question h4 {
        font-size: 18px;
        text-align: left;
    }

    .fs-faq-question img {
        width: 14px;
    }

    .fs-faq-answer {
        margin-top: 20px;
        font-size: 14px;
        color: var(--rr-Grey-30);
        text-align: left;
    }

}


@media (max-width: 767px) {

    .fs-faq-title-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .fs-faq-small {
        order: 1;
        font-size: 14px;
    }

    .fs-faq-title {
        order: 2;
        font-size: 28px;
        text-align: left;
    }

    .fs-faq-header p {
        font-size: 14px;
        text-align: left;
    }

    .fs-faq-list {
        grid-template-columns: 1fr;
    }

    .fs-faq-item {
        display: none;
        font-size: 16px;
    }

    .fs-faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 20px;
    }

    .fs-faq-question h4 {
        font-size: 16px;
        text-align: left;
    }

    .fs-faq-answer {
        font-size: 14px;
        text-align: left;
    }

    .fs-faq-question img {
        width: 10px;
    }

    .fs-faq-item:nth-child(3n + 2) {
        display: block;
    }

    .fs-faq-list.show-all .gd-faq-item {
        display: block;
    }

    .fs-faq-list.show-all .gd-faq-viewall {
        display: none
    }

    .fs-faq-tabs {
        margin: 40px 0;
        padding: 20px 0;
        gap: 20px;
    }

    .fs-faq-tabs button {
        flex-shrink: 1;
        min-width: 0;
        font-size: 10px;
    }

    .fs-faq-viewall {
        display: block;
        margin-top: 32px;
        text-align: left;
        padding: 14px 32px;
        background-color: var(--rr-Yellow-50);
        border: none;
        border-radius: 32px;
        font-size: 14px;
        cursor: pointer;
    }

}

/* animations*/
.fs-faq-answer {
    animation: 0.3s ease;
}

@keyframes answerFade {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* دوران الصورة */
.fs-faq-question img {
    transition: 0.3s ease;
}

.fs-faq-item:hover .gd-faq-question img {
    transform: rotate(90deg);
}

.fs-faq-viewall {
    transition: 0.25s ease, 0.25s ease;
}

.fs-faq-viewall:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.fs-faq-viewall:active {
    opacity: 0.85;
}