.fs-navbar{
    height: 95px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 161px;
    border-bottom: 1px solid #F1F1F3;
}
.fs-navbar ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 10px;
}
.fs-navbar li{
    border: 1px solid #F1F1F3;
    border-radius: 100px;
    padding: 14px 24px;
}
.fs-navbar a{
    font-weight: 500;
    color: #656567;
    text-decoration: none;
    &:hover{
        color: #646cff;
    }
    &.active{
        font-weight: bold;
        color: rgb(207, 116, 11);
    }
}
.fs-navcart{
    display: flex;
    align-items: center;
    gap: 14px;  
}
 .fs-navcart button {
  border-radius: 100px;
  border: 1px solid #F1F1F3;
  padding: 14px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
  color: #656567;
}
.fs-navcart button:hover {
  border-color: #646cff;
}
.fs-navcart button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media screen and (max-width : 576px) {
    .fs-navbar{
        padding: 20px 40px;
    }
    .fs-navbar ul{
        display: none;
    }

}